name: Build and Push Image

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha
            type=raw,value=latest

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
      
      - name: Update image tag in kustomization
        if: github.actor != 'github-actions[bot]'
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          IMAGE_TAG="sha=${SHORT_SHA}"

          sed -i "s/newTag: .*/newTag: ${IMAGE_TAG}/" workloads/ops-journal/overlays/dev/kustomization.yaml

      - name: Commit and Push updated tag
        if: github.actor != 'github-actions[bot]'
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          git add workloads/ops-journal/overlays/dev/kustomization.yaml
          git commit -m "chore: deploy ${IMAGE_TAG}" || exit 0
          git push
